dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="af6a2274-2eb0-4d39-82cf-7f80eaf0aec1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="a9717ccc-a8e0-4bb1-930f-ebe764535460" >
		<http:listener doc:name="Listener" doc:id="3e95736c-cf00-4aba-899c-d49516422f09" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hello dummy"]' doc:name="Set Payload" doc:id="97c400ba-f890-451f-8144-722f25ba0f29" />
	</flow>
</mule>
